{% extends "index.html" %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>くえはるブログ</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
{% block news %}
{% load static %}
<link rel="shortcut icon" type="image/png" href="{% static 'superan.png'%}">

      <p>記事内容</p>
        <table>
            <body>

{% endblock %}
<footer>
<nav>
<ul>
<li><a href="index.html">ホーム</a></li>
<li><a href="menu01.html">メニュー1</a></li>
<li><a href="menu02.html">メニュー2</a></li>
</ul>
</nav>
</footer>
</body>
</html>