<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News</title>
</head>
<body>


{% extends "index.html" %}
{% block news %}

      <p>ここがnews.htmlです。</p>
        <table>
            <tbody>
          {% for context in news|slice:"3" %}
                <tr>
                    <td>{{ context.published_date }}</td>
                    <td>{{ context.title }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}
</body>
</html>